{% extends 'base.html' %}

{% block content %}
    <h1>Test</h1>
    <table id="ruangan_table"></table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nomor" class="col-form-label">Nomor:</label>
                            <input type="text" class="form-control" id="nomor" name="nomor"></input>
                        </div>
                        <div class="mb-3">
                            <label for="ketersediaan" class="col-form-label">Ketersediaan:</label>
                            <input type="text" class="form-control" id="ketersediaan" name="ketersediaan"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tambah Ruangan</button>


    <script>
        async function getProducts() {
            return fetch("{% url 'sistem_manajemen:get_ruangan_json' %}").then((res) => res.json())
        }
        async function refreshProducts() {
            document.getElementById("ruangan_table").innerHTML = ""
            const products = await getProducts()
            let htmlString = `<tr>
                <th>Nomor</th>
                <th>Ketersediaan</th>
            </tr>`
            products.forEach((item) => {
                htmlString += `\n<tr>
                <td>${item.fields.nomor}</td>
                <td>${item.fields.ketersediaan}</td>
            </tr>` 
            })
            
            document.getElementById("ruangan_table").innerHTML = htmlString
        }

        refreshProducts()
        function addProduct() {
            fetch("{% url 'sistem_manajemen:add_ruangan_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)

            document.getElementById("form").reset()
            return false
        }
        document.getElementById("button_add").onclick = addProduct
    </script>
{% endblock content %}
